.main{
    width: 400px;
    height:400px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
button{
    font-size: 2rem;
}
.display{
    font-size: 1.8rem;
}
dialog{
    width: 300px;
    height: 300px;
    position: relative;
    top:-400px;
}